
<div class="company-content cfixed">
    <div class="container">
        <div class="left-box cc-box">
            <h1 class="sub-tit">Our Vision</h1>
            <p>
                <span>'BUSINESS SUCCESS'</span><br>
                국내 대표 어그리푸드테크 스타트업으로의 성장
            </p>
            <hr class="cclb-hr">
        </div>
        <div class="right-box cc-box">

        </div>
    </div>
</div>

<section class="company-intro cfixed">
    <div class="container">
        <h1 class="sub-tit">우리의 서비스</h1>
        <ul class="our-service cfixed">
            <li>
                <h2>01. 첫째: 제품개발</h2>

                <div class="cib-img-hover">
                    <div class="cib-img-comment">
                        <p>국내산 농특산물 기반 식음료 개발</p>
                    </div>
                    <img src="image/c1.jpg" alt="">
                </div>
            </li>
            
            <li>
                <h2>02. 둘째: 레시피개발</h2>

                <div class="cib-img-hover">
                    <div class="cib-img-comment">
                       <p>펀슈머들의 다각화된 입맛에 맞는 레시피 개발</p>
                    </div>
                    <img src="image/c2.jpg" alt="">
                </div>
            </li>

            <li>
                <h2>03. 셋째: 공정개발</h2>
                <div class="cib-img-hover">
                    <div class="cib-img-comment">
                        <p>기능성 식품 제조를 위한 공정 개발</p>
                    </div>
                    <img src="image/c3.jpg" alt="">
                </div>
            </li>
        </ul>
    </div>
</section>  

<iframe 
    class="map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3175.025560243827!2d127.15080695141079!3d37.27082097975545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5058b1606e55%3A0xa694abc71a30c401!2z7YGs66as7ZS87IqkIOyaqeyduCDshoztmLjsgqzrrLTsi6Q!5e0!3m2!1sko!2skr!4v1568695989451!5m2!1sko!2skr" 
    width="100%" 
    height="450" 

    allowfullscreen=""
></iframe>
