<section id="section1" class="product-intro cfixed">
    <div class="container">
        <div class="cfixed">
            <h2 class="sub-tit2 stla">제품 소개 <br><span>[ 부 활 포 ]</span></h2>
            <p class="sub-desc2 sdra">국내산 토종 산양산삼 및 꿀 기반 숙취방어제, 당신의 젊음과 기력을 부활시키다.</p>
        </div>
        
        <hr class="divider" />
        
        <ul class="pi-card cfixed">
            <li class="cfixed">
                <div class="info">
                    <h2><span>01. 콘셉트</span></h2>
                    <p>부적: 주력(呪力)으로 주(酒)님을 물리치다.</p>
                </div>

                <div class="pic-img">
                    <a class="pic-img-hover" href="#">
                        <div class="pic-img-hover-comment">
                            <h3>CONCEPT</h3>
                            <span>CHARM/AMULET</span>
                        </div>
                        <img src="/image/0007.jpg" alt="">
                    </a>
                </div>
            </li>

            <li class="cfixed">   
                <div class="info nth-sec-info">
                    <h2 class="nth-sec-info-h2"><span>03. 제품형태</span></h2>
                    <p class="nth-sec-info-p">1일1포하라. 섭취와 휴대가 간편한 포 형태</p>
                </div>   
                
                <div class="pic-img">
                    <a class="pic-img-hover nth-sec-img" href="#">
                        <div class="pic-img-hover-comment">
                            <h3>FORM</h3>
                            <span>STICK/POUCH</span>
                        </div>
                        <img src="/image/0008.jpg" alt="">
                    </a>
                </div>
            </li>
            
            <li class="cfixed">
                <div class="info">
                    <h2><span>03. 포장</span></h2>
                    <p>1Box = 10EA(포)</p>
                </div>
                
                <div class="pic-img">
                    <a class="pic-img-hover" href="#">
                        <div class="pic-img-hover-comment">
                            <h3>PACKAGING</h3>
                            <span>1Box : 10EA</span>
                        </div>
                        <img src="/image/0009.jpg" alt="">
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>